<ion-view title="Subzz">

    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-bag"></button>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="true">

        <div class="row">
            <div class="col">
                    <h2>Your Orders</h2>
                    <div class="row cart-border" ng-repeat="order in orderInCartFactory.getCart()">
                        <div class="col col-40">
                            {{order.listing.name}}
                        </div>
                        <div class="col text-right">
                            {{order.listing.price}}/Kg
                        </div>
                        <div class="col text-right">
                            {{order.quantity}}
                        </div>
                        <div class="col col-30 text-right">
                            {{order.price}}/Kg
                        </div>
                    </div>
            </div>


        </div>


    </ion-content>

</ion-view>
