<ion-view title="Subzz">

    <ion-nav-buttons side="right">
        <button class="button button-clear button-icon icon ion-person" ng-click="checkout()">Name</button>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="true">

        <div class="row">
            <div class="col">
                <button class="button button-stable">ORDERS PLACED (6)</button>
            </div>

            <div class="col">
                <button class="button button-stable">YOUR ORDERS (6)</button>
            </div>
        </div>

        <div class="row" ng-repeat="listing in listings track by $index" ng-if="$even">
            <div class="col" ng-click="chooseItem(listing)">
                <div class="list card">
                    <div class="item item-image">
                        <img class="full-image" ng-src="{{listing.url}}" />
                    </div>
                    <div class="item">
                        <h2>{{listing.name}}</h2>
                        <p>Rs. {{listing.price}}</p>
                    </div>
                </div>
            </div>

            <div class="col" ng-click="chooseItem(listings[$index+1])">
                <div class="list card">
                    <div class="item item-image">
                        <img class="full-image" ng-src="{{listings[$index+1].url}}" />
                    </div>
                    <div class="item">
                        <h2>{{listings[$index+1].name}}</h2>
                        <p>Rs. {{listings[$index+1].price}}</p>
                    </div>
                </div>
            </div>
        </div>


    </ion-content>

</ion-view>