/* Empty. Add your own CSS if you like */

.ionic-logo {
    display: block;
    margin: 15px auto;
    width: 96px;
    height: 96px;
}

.item-body > p {
    margin-top: 0;
    margin-bottom: 4px;
}
.text-right{
    text-align: right;
}

.cart-border{
    border: 1px solid #DDDDDD;
}